{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}


<div class="container mt-12 pb-6">
  <div class="row">
    <div class="col-12">
      <h1 class="title-1 black">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
</div>

  


<div class="strip bg-primary pt-8 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
          <h2>Contact Us</h2>
          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. ipsum dolor sit amet, et essent mediocritatem quo, </p>
          <a class="button button-white" href="{{ .Site.BaseURL }}contact">Contact</a>
      </div>
    </div>
  </div>
</div>


{{ end }}

{{ define "footer_js" }}
{{ end }}