{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" "images/kevin-lanceplaine-243768-unsplash.jpg" "heading" "ECF News" "subheading" "We have lots of exciting news to share of recent events and upcoming announcements."  "content" .)}}

<div class="members">  
	<div id="news" class="strip bg-cover bg-position-center bg-overlay pt-12 pb-15">
	  <div class="container">
	    <div class="row">
	      <div class="col-12 col-md-8">
	          <h2 class="text-primary title-2">ECF in the News </h2>
	          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. Numquam dolores mel eu, mea docendi omittantur et, mea ea duis erat. Elit melius cu ius. Per ex novum tantas putant, ei his nullam aliquam apeirian. Aeterno quaestio constituto sea an, no eum intellegat assueverit. </p>
	      </div>
	      <div class="col-12 col-md-4">
	          <h2 class="text-primary text-capitalize">Recent News</h2>
							<ul class="list-group">
							{{ range .Pages.ByWeight }}
							  <li class="list-group-item">
							  	<a href="{{ .Permalink }}">{{ .Title }}</a>
							  </li>
							{{ end }}
							</ul>						
	      </div>

	    </div>
	  </div>
	</div>
</div>

{{ partial "contact_banner.html" . }}

{{ end }}