/* R O O T  S T Y L E S */
:root {
    --black: #050505;
    --black-light: #232323;
    --green: #05B76D;
    --white: #FFFFFF;
    --primary-font: 'Rubik', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --secondary-font: 'Poppins', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-size-small: 0.8rem;
    --font-size-regular: 1rem;
    --font-size-medium: 1.4423rem;
    --font-size-large: 2.08rem;
    --font-size-huge: 3rem;
    --line-height-small: 1.128rem;
    --line-height-regular: 1.41rem;
    --line-height-medium: 2rem;
    --line-height-large: 2.2rem;
    --line-height-huge: 3.75rem;
}

/* Tablet specific font size */
@media (max-width: 800px) {
    :root {
        --font-size-regular: 1rem;
        --font-size-medium: 1.25rem;
        --font-size-large: 1.563rem;
        --font-size-huge: 1.953rem;
        --line-height-regular: 1.5rem;
        --line-height-medium: 1.8rem;
        --line-height-large: 1.8rem;
        --line-height-huge: 2.6rem;
    }
}

/* B A S E  S T Y L E S */
body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--primary-font);
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
    text-rendering: optimizeLegibility;
}

.paragraph {
    font-family: var(--primary-font);
    font-size: var(--font-size-regular);
    font-weight: 300;
    line-height: var(--line-height-regular);
}

.paragraph--small {
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--line-height-small);
}

.paragraph--medium {
    font-size: var(--font-size-medium);
    font-weight: 400;
    line-height: var(--line-height-medium);
}

.paragraph--large {
    font-size: var(--font-size-medium);
    font-weight: 300;
    line-height: var(--line-height-large);
}

.paragraph--huge {
    font-size: var(--font-size-huge);
    font-weight: 400;
    line-height: var(--line-height-huge);
}

.section__heading {
    color: var(--green);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
}

.header__navigation-list,
.footer__navigation-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0 2rem;
    list-style-type: none;
}

.header__navigation-list .anchor,
.footer__navigation-list .anchor {
    margin: 0 1.6rem;
}

.footer__navigation-list .anchor {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.anchor {
    color: var(--black);
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.anchor--white {
    color: var(--white);
}

.anchor::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--green);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.anchor:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button {
    border: none;
    font-family: var(--primary-font);
    padding: 16px 24px;
}

.button:hover {
    background-color: #232323;
    cursor: pointer;
}

.button__apply-now {
    background-color: var(--green);
    color: var(--white);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 200ms ease-in;
}

.content-max-width {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/* H E A D E R */
.header-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    height: 8rem;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#faq-wrapper.open .header-grid {
    border: none;
}

body.open .footer,
body.open #motion,
body.open .members,
body.open .ecf__block {
    display: none;
}

.header__logo img {
    max-height: 60px;
}

#header-background-clip {
    height: 100%;
    left: 0;
    max-height: 100vh;
    min-width: 100%;
    right: 0;
    width: 100%;
}

#header-illustration {
    min-width: 100%;
    width: 100%;
    clip-path: url(#header-clip);
    -webkit-clip-path: url(#header-clip);
}

#header-clip-svg {
    position: absolute;
}

.wow {
    visibility: hidden;
}

.svg-mask {
    border: 10px solid var(--green);
    border-radius: 0 0 8rem 8rem;
    overflow: hidden;
    outline: 1px solid transparent;
    transition: all 200ms ease-in;
}

.svg-mask.open {
    border: 10px solid var(--black-light);
}

.header__navigation-wrapper {
    position: relative;
    z-index: 3;
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr minmax(max-content, 16rem);
}

.header__logo-wrapper {
    align-items: center;
    display: flex;
    height: 8rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#apply-button-mobile {
    -webkit-clip-path: polygon(0 25%, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0 25%, 100% 50%, 100% 100%, 0% 100%);
    display: none;
    height: 9rem;
    margin-top: -8rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

.svg-container {
    background: #005382;
    box-sizing: border-box;
    height: 100%;
    max-height: 86vh;
    min-height: 20rem;
    overflow: hidden;
    position: relative;
    width: calc(100% + 96px);
    z-index: 1;
}

#airballoon1 {
    transition: 0.5s ease-in transform;
}

#cloud {
    animation: clouds 10s linear infinite alternate;
}

#airballoon1 {
    animation: float 40s linear 0.5s infinite alternate;
}

#airballoon2 {
    animation: float-two 40s linear 0.5s infinite alternate;
}

/* M A I N */
.main__section {
    padding: 5rem 0;
}

.main__section-grid {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
}

/* M E M B E R S */
#motion {
    background-color: var(--black-light);
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    max-width: 96%;
    position: relative;
    right: 0;
    width: 100%;
}

.founding__members,
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.founding__members-item,
.members-item {
    align-items: center;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
}

.founding__members-item:hover,
.members-item:hover {
    cursor: pointer;
    transition: box-shadow 300ms ease-out, transform 300ms ease-out;
}

.founding__members-item:hover {
    box-shadow: 0 0 0 4px var(--green);
}

.members-item:hover {
    transform: translateY(-2px);
}

.founding__members-item {
    border-radius: 50%;
    max-height: 240px;
    max-width: 240px;
    min-height: 240px;
    min-width: 240px;
}

.founding__members-item img {
    max-height: 120px;
    max-width: 120px;
}

.members-item {
    border-radius: 6px;
    max-height: 120px;
    max-width: 240px;
    min-height: 120px;
    min-width: 240px;
    box-shadow: 0 18px 36px 0px rgba(200, 200, 225, 0.24);
}

.members-item img {
    max-width: 160px;
    max-height: 80px;
}

/* F O O T E R */
.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 4rem 0 3rem;
    border-top: 10px solid var(--green)
}

.footer__links {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    padding: 1.5rem 0 3rem;
}

.footer__email {
    color: var(--white);
    text-decoration: none;
    font-size: 32px;
    transition: color 200ms ease-in;
}

.footer__email:hover {
    color: var(--green);
}

.footer__social {
    display: flex;
}

.footer__social a {
    height: 32px;
    margin-right: 1.6rem;
    width: 32px;
    transition: all 200ms ease-in;
}

.footer__social a:last-child {
    margin-right: 0;
}

.footer__social a#medium:hover .anchor__img {
    fill: #57ad68;
}

.footer__social a#twitter:hover .anchor__img {
    color: #1da1f2;
}

.footer__social a#github:hover .anchor__img {
    color: #4078c0;
}

.footer__legal {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-items: flex-start;
    padding: 1rem 0;
}

.footer__copyright {
    text-transform: uppercase;
}

.footer__navigation-list:last-child {
    padding-right: 0;
}

.footer__navigation-list .anchor--white:last-child {
    margin-right: 0px;
}

.footer .anchor {
    margin: 0 1rem
}

.footer li:last-child {
    margin-right: 0;
}

.footer li:first-child {
    margin-left: 0;
    margin-right: 1rem;
}

.footer .anchor__img {
    width: 32px;
    height: 32px;
}

#faq-wrapper {
    background-color: var(--black-light);
    border-top: 10px solid var(--green);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    z-index: 9999;
}

#faq-wrapper.open {
    display: block;
}

#faq .section__heading {
    font-weight: 500;
    font-size: calc(2 * var(--font-size-huge));
}

#faq {
    padding: 12rem 0 6rem;
}

.faq__list {
    list-style-type: none;
    position: relative;
    padding-left: 0;
    transform: translateY(4rem);
}

.faq::before {
    color: var(--green);
    font-family: var(--primary-font);
    font-size: var(--font-size-huge);
    font-weight: 300;
    line-height: 1;
    line-height: var(--line-height-huge);
    margin-right: 0.5rem;
    position: absolute;
}

.faq__question {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: var(--line-height-large);
}

.faq__answer {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

.faq__answer h4 {
    font-weight: 500;
    margin-top: 2rem;
}

#faq a {
    color: var(--green);
    opacity: 0.65;
    text-decoration: none;
    transition: opacity 400ms ease-out;
}

#faq a:hover {
    opacity: 1;
}

#faq-close-button {
    background: transparent;
    border: none;
    color: wheat;
    cursor: pointer;
    height: 3rem;
    margin-left: auto;
    margin: 0;
    padding: 0;
    width: 3rem;
}

#faq-close-button img {
    height: 100%;
    width: 100%;
}

#faq-anchor {
    cursor: pointer;
}

.ecf__block {
    background: transparent;
    border-radius: 36px;
    border: 4px solid var(--green);
    opacity: 0.1;
    position: absolute;
    transform: rotate(-15deg) skew(-15deg);
    z-index: -1;
}

#ecf__block-1 {
    height: 800px;
    right: 12%;
    top: 32%;
    width: 600px;
}

#ecf__block-2 {
    height: 800px;
    left: 12%;
    top: 12%;
    width: 240px;
}

#ecf__block-3 {
    bottom: 2%;
    height: 500px;
    left: 12%;
    width: 240px;
}

#ecf__block-4 {
    bottom: 24%;
    height: 500px;
    right: 12%;
    width: 720px;
}

@media only screen and (max-width: 800px) {
    .header-grid {
        border: none;
    }

    .header__logo {
        width: 64px;
    }

    .header-grid {
        grid-template-columns: 1fr 1fr;
    }

    .svg-container::before {
        content: "";
        display: block;
        height: 9rem;
        background: #c2e0e4;
    }

    #apply-button {
        display: none;
    }

    #apply-button-mobile {
        display: flex;
    }

    .main__section-grid {
        grid-template-columns: 1fr;
    }

    .main__section {
        padding: 3rem 0;
    }

    .header__navigation-list .anchor {
        margin: 0 1rem;
    }

    .founding__members-item {
        border-radius: 50%;
        max-height: 120px;
        max-width: 120px;
        min-height: 120px;
        min-width: 120px;
    }

    .founding__members-item img {
        max-height: 70px;
        max-width: 70px;
    }

    .members-item {
        max-height: 90px;
        max-width: 180px;
        min-height: 90px;
        min-width: 180px;
    }

    .members-item img {
        max-width: 160px;
        max-height: 80px;
    }

    #faq-close-button {
        margin-left: auto;
    }

    .ecf__block {
        display: none;
    }

    .footer__legal,
    .footer__links {
        grid-auto-flow: row;
    }

    .footer__links {
        margin: 2rem 0;
    }

    .footer__navigation-list {
        justify-content: flex-start;
        margin-top: 1rem;
        padding: 0;
    }

    .footer__navigation-list .anchor:first-child {
        margin-left: 0 !important;
        margin-right: 1rem;
    }

    .footer__social {
        margin-top: 2rem;
    }

    .footer__social a:first-child {
        margin-left: 0;
    }

    .footer__legal {
        grid-auto-flow: row !important;
    }

    .footer__navigation-list {
        justify-content: flex-start;
    }

    .svg-mask {
        border-radius: 0;
        border: none;
    }
}

@media only screen and (max-width: 500px) {
    .section__heading {
        margin-bottom: 2rem;
    }

    .header__navigation-wrapper {
        grid-template-columns: auto;
    }

    .header__navigation-list {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
    }

    .header__navigation-list li {
        margin: 0.4rem 0;
    }

    .members-item {
        max-height: 60px;
        max-width: 120px;
        min-height: 60px;
        min-width: 120px;
    }

    .members-item img {
        max-width: 100px;
        max-height: 40px;
    }

    #faq-close-button {
        margin-left: auto;
    }

    #faq .section__heading {
        font-size: 4rem;
    }
}

/* A C C O R D I O N  S T Y L E S */
/* Requirements */
[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

/* Basic Theme */
[data-accordion] {
    line-height: 1;
}

[data-accordion] [data-content] article>div {
    padding-bottom: 3rem
}

[data-control] {
    border-top: 1px solid #474747;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

[data-accordion] [data-control] {
    padding-bottom: 42px;
    padding-right: 40px;
    padding-top: 46px;
    position: relative;
    user-select: none;
    cursor: pointer;
}

[data-accordion]>[data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50px;
    height: 32px;
    width: 32px;
    font-size: 25px;
    font-weight: 200;
    background: url('../images/chevron-down.svg') center center no-repeat;
}

[data-accordion].open>[data-control]:after {
    background: url('../images/chevron-up.svg') center center no-repeat;
}

/** A N I M A T I O N S */
@keyframes clouds {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes float {
    5% {
        transform: translate3d(30px, -30px, 0);
    }

    15% {
        transform: translate3d(70px, -120px, 0);
    }

    25% {
        transform: translate3d(250px, -200px, 0);
    }

    35% {
        transform: translate3d(500px, -150px, 0);
    }

    45% {
        transform: translate3d(640px, -200px, 0);
    }

    50% {
        transform: translate3d(700px, -240px, 0);
    }

    60% {
        transform: translate3d(500px, -250px, 0);
    }

    75% {
        transform: translate3d(340px, -150px, 0);
    }

    90% {
        transform: translate3d(230px, -80px, 0);
    }
}

@keyframes float-two {
    5% {
        transform: translate3d(40px, 20px, 0);
    }

    15% {
        transform: translate3d(16px, -40px, 0);
    }

    25% {
        transform: translate3d(25px, -60px, 0);
    }

    35% {
        transform: translate3d(100px, -40px, 0);
    }

    45% {
        transform: translate3d(200px, -30px, 0);
    }

    50% {
        transform: translate3d(300px, -10px, 0);
    }

    60% {
        transform: translate3d(400px, 0, 0);
    }

    75% {
        transform: translate3d(340px, -150px, 0);
    }

    90% {
        transform: translate3d(360px, -80px, 0);
    }
}