{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" "images/jason-blackeye-1191801-unsplash.jpg" "heading" "About ECF" "subheading" "ECF Network: More Than Grants"  "content" .)}}

				
<div class="intro intro-small generic pt-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <h1>{{ .Title }}</h1> -->
      </div>
    </div>
  </div>
</div>
				
<div class="strip bg-primary pt-15 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
          <h2>Contact Us</h2>
          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. ipsum dolor sit amet, et essent mediocritatem quo, </p>
          <a class="button button-white" href="{{ .Site.BaseURL }}contact">Contact</a>
      </div>
    </div>
  </div>
</div>

<!-- {{ $scripts := resources.Get "js/about.js" }} -->

{{ end }}