{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}


{{ if .Content }}
<div class="faq">
	<div class="container pt-20 mb-2">
		<div class="row">
			<div class="col-12">
				<h1 class="title-1 black">Frequently Asked Questions</h2>
			</div>
		</div>
	</div>	
	
	<div class="container mb-4">
	  <div class="row">
		  <div class="col-12">
				{{ .Content }}
		  </div>
		</div>
	</div>
</div>
{{ end }}


{{ partial "contact_banner.html" . }}

{{ end }}