<header>
	<nav class="navbar navbar-default fixed-top">
	  <div class="container">
	    <div class="logo">						
	      <a href="{{ .Site.BaseURL }}">
					<img class="float-left" alt="ECF logo" src="{{ .Site.BaseURL }}images/ecf/header-logo-dark.png"/>
				</a>
	    </div>
	    <div class="logo-mobile">
	      <a href="{{ .Site.BaseURL }}"><img alt="Home" src="{{ .Site.BaseURL }}images/ecf/mobile-logo-dark.png" /></a>
	    </div>
	    {{ partial "main-menu.html" . }}
	    {{ partial "hamburger.html" . }}
	  </div>
	</nav>
</header>
