{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

<div class="home">
<div class="hero-image hero-image-fullscreen mt-8" style="background-image: url('{{ .Site.BaseURL }}images/ecf/ecf-thin-hero.jpg');">
    <div class="container ">
    </div>
</div>
  
<div id="home" class="bg-cover bg-position-center bg-overlay pt-15 pb-15">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 hero">
          <h1 class="text-primary title-2">{{.Params.heroTitle1}}</h1>
          <p>{{.Params.heroCaption1}}</p>
      </div>
    </div>
  </div>
</div>


<div class="hero-image hero-image-fullscreen" style="background-image: url('{{ .Site.BaseURL }}images/ecf/the-mission-banner-2.jpg');">
  <div class="container ">
	</div>
</div>

<div class="strip bg-cover bg-position-center bg-overlay pt-8 pb-15" style="background-image: url('{{ .Site.BaseURL }}images/adrian-infernus-1198884-unsplash.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-2">
          <h2 class="text-primary title-2">{{.Params.heroTitle2}}</h2>
      </div>
      <div class="col-12 col-md-6 hero">
          <p>{{.Params.heroCaption2}}</p>
      </div>
      <div class="col-12 col-md-6 hero">
          <p>Numquam dolores mel eu, mea docendi omittantur et, mea ea duis erat. Elit melius cu ius. Per ex novum tantas putant, ei his nullam aliquam apeirian. </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="strip bg-primary pt-8 pb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
          <h2>Contact Us</h2>
          <p>Lorem ipsum dolor sit amet, et essent mediocritatem quo, choro volumus oporteat an mei. ipsum dolor sit amet, et essent mediocritatem quo, </p>
          <a class="button button-white" href="{{ .Site.BaseURL }}contact">Contact</a>
      </div>
    </div>
  </div>
</div>


{{ end }}

{{ define "footer_js" }}
{{ end }}