{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

<div class="home">
  <div class="container-fluid pt-8 pb-8 pb-md-12 pt-md-12" style="height:2000px;padding:0px;">

<div id="p1" class="parallax-window bgpanel">
  <div class="parallax-slider">
		<img src="{{ .Site.BaseURL }}images/ecf/ecf.network-intro-banner.jpg" style="width:100%;"/>


  </div>
</div>

	<div id="fg1" class="strip-primary pt-6" style="height:350px">
	  <div class="container pt-8 pb-8 pb-md-12 pt-md-12" >
	    <div class="row justify-content-center">
				<div class="col-12 col-md-9">
					<h1>PANEL</h1>
		    </div>
		  </div>
		</div>
	</div> 



<div id="p2" class="parallax-window bgpanel">
  <div class="parallax-slider">
		<img src="{{ .Site.BaseURL }}images/ecf/the-mission-banner-2.jpg" style="width:100%;"/>
		
  </div>
</div>

	  </div>
</div> 

<!-- 
<div class="home">
	<div class="strip strip-primary pt-6">
	  <div class="container pt-8 pb-8 pb-md-12 pt-md-12" >
	    <div class="row justify-content-center" style="height:400px;">
				<div class="col-12 col-md-9">

					<div class="jumbotron panel panelbg1">						
<h1 class="display-3">Here is a heading 1</h1>
<p class="lead">Here is a short description 1</p>
<p class="lead">
<a class="btn btn-info btn-lg btn-md" href="#" role="button">Here is a button 1</a>
</p>
</div>
 
<div class="jumbotron panel panelbg1">
<h1 class="display-3">Here is a heading 2</h1>
<p class="lead">Here is a short description 2</p>
<p class="lead">
<a class="btn btn-warning btn-lg btn-md" href="widgets.html" role="button">Here is a button 2</a>
</p>
</div>
 
<div class="jumbotron panel panelbg2">
<h1 class="display-3">Here is a heading 3</h1>
<p class="lead">Here is a short description 2</p>
<p class="lead">
<a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
</p>
</div>
				</div>
	    </div>
	  </div>
	</div>
</div> 
-->

{{ end }}

{{ define "footer_js" }}
{{ end }}