{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

<div class="home">
	<div class="strip strip-primary pt-6">
	  <div class="container pt-8 pb-8 pb-md-12 pt-md-12" >
	    <div class="row justify-content-center" style="height:400px;">
				<div class="col-12 col-md-9">
<!-- First panellax Section -->
<div class="jumbotron panel panelbg1">
<h1 class="display-3">Here is a heading 1</h1>
<p class="lead">Here is a short description 1</p>
<p class="lead">
<a class="btn btn-info btn-lg btn-md" href="#" role="button">Here is a button 1</a>
</p>
</div>
 
<!-- Second panellax Section -->
<div class="jumbotron panel panelbg1">
<h1 class="display-3">Here is a heading 2</h1>
<p class="lead">Here is a short description 2</p>
<p class="lead">
<a class="btn btn-warning btn-lg btn-md" href="widgets.html" role="button">Here is a button 2</a>
</p>
</div>
 
<!-- Third panellax Section -->
<div class="jumbotron panel panelbg2">
<h1 class="display-3">Here is a heading 3</h1>
<p class="lead">Here is a short description 2</p>
<p class="lead">
<a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
</p>
</div>

				</div>
	    </div>
	  </div>
	</div>
</div>


{{ end }}

{{ define "footer_js" }}
{{ end }}