.faq {
	background: transparent;			
	.ui-accordion-content {
		min-height: 120px;
	}
	h3 {
	  font-size: 1.5rem;			
		background: #EEEEEE;
		line-height: 2.5rem;
		margin-bottom: 1px;
		padding: 5px 60px 5px 5px;
	}
	p {
		font-size: 1.2rem;
		margin: 10px;
	}
}

