.home {
	background: transparent;			
	.strip {
			background-image: linear-gradient(to right, #a5e2b2, #92d8aa, #7ecfa3, #69c59d, #52bb97);		
	}
	.hero {
		p {
			font-family: $font-family-base;
			font-size: 1.5rem;			
		}
	}
	.hero-image-fullscreen {
	  height: 90vh;
	}	
	h2 {
	  font-size: 1.8rem;			
	}
	.svg-container {
	    background: #005382;
	    box-sizing: border-box;
	    height: 100%;
	    max-height: 86vh;
	    min-height: 20rem;
	    overflow: hidden;
	    position: relative;
	    width: calc(100% + 96px);
	    z-index: 1;
	}
	.svg-mask {
	    border: 10px solid var(--green);
	    border-radius: 0 0 8rem 8rem;
	    overflow: hidden;
	    outline: 1px solid transparent;
	    transition: all 200ms ease-in;
	}
	.svg-mask.open {
	    border: 10px solid var(--black-light);
	}
}

