.home {
	background: transparent;			
	.strip {
			background-image: linear-gradient(to right, #a5e2b2, #92d8aa, #7ecfa3, #69c59d, #52bb97);		
	}
	.hero {
		p {
			font-family: $font-family-base;
			font-size: 1.5rem;			
		}
	}
	.hero-image-fullscreen {
	  height: 90vh;
	}	
	h2 {
	  font-size: 1.8rem;			
	}
}

