.members {
	background: transparent;			
	.strip {
			background-image: linear-gradient(to right, #a5e2b2, #92d8aa, #7ecfa3, #69c59d, #52bb97);		
	}
	.hero {
		p {
			font-family: $font-family-base;
			font-size: 1.5rem;			
		}
	}
	.hero-image-fullscreen {
	  height: 90vh;
	}	
	h2 {
	  font-size: 1.8rem;			
	}
	p {
		font-family: $font-family-base;
		font-size: 1.3rem;			
	}
	.card {
		padding: 0;
		background-color: transparent;		
		border: none;
		height:220px;
		margin: 0 0 20px 0;		
	}	

	.members-summary {
	  display: flex;
	  align-items: flex-start;
	  .members-image {
	    border:5px solid $primary;    
			padding:25px;
			margin:auto;
	    height:220px;
	    width:220px;
	    border-radius:50%;
	    -moz-border-radius:50%;
	    -webkit-border-radius:50%;		
	    img {
		    position: absolute;
		    margin: auto;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
				max-height:120px;
				max-width:120px;				
	  	}
			button, html [type="button"] {
				-moz-appearance: none;
				-webkit-appearance: none;
			}
		}
	  .members-content {
	    flex: 1;
	    .members-title {
	      font-family: $font-family-base;
	      font-size: 1.5rem;
	    }
	    p {
	      color: #666;
	      font-size: 0.9rem;
	      width: 90%;
	    }
	  }
		.container {padding:20px;}
		.form-control {width:120px;}
		.popover {max-width:400px;}
	}

}